/**
.circle-container {
    position: relative;
    width: 30em;
    height: 30em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))
    /*border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
*/

.container_header {
    margin-bottom: 15px;
}
.choose_user {
    text-align: center;
}
.avatar img {
    opacity: 5;
    padding-bottom: 4px;
    width: 80px;
    border-radius: 50%;
}

.logged-user .username {
    color: #ffffff;
}

.logged-user .username_wrapper {
    float: left;
    margin-right: 10px;
    height: 34px;
}
.logged-user img {
    height: 34px;
    border-radius: 50%;
}
.logged-user .logout {
    font-size: smaller;
}

#users_title {
    margin-top: 20px;
}